//Form styles
div.wpcf7 input,
div.wpcf7 textarea {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea {
  height: size(121);
  padding: 10px;
  background-color: #f6f6f6;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="submit"] {
  border: 3px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
  @include mid-text;
  font-weight: 700;
  text-align: center;
  background-position: 8px center;
  background-repeat: no-repeat;
  white-space: normal;
  padding: 2px size(47);
  transition: background-color .5s;
  &:hover {
	background-color: $orange-buttons;
	transition: background-color .5s;
  }
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}

.repeat-form-block {
  margin: size(70) 0;
  @include back-img;
  background-image: url("../img/repeat-form-back.png");
  padding: size(55) 0 size(40) 0;
  .block-title {
	font-size: size(87);
	line-height: size(90);
	border-bottom: 2px solid $orange-main;
  }
  .wpcf7-form {
	* {
	  direction: rtl !important;
	}
	::placeholder {
	  font-weight: 500;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  font-weight: 500;
	}
  }
  div.wpcf7 input {
	height: size(34);
  }
  div.wpcf7 input:not([type="submit"]) {
	font-weight: 500;
	background-color: transparent;
	border-bottom: 2px solid #000000;
  }
  div.wpcf7 input[type="text"] {
	background-size: size(15);
  }
  div.wpcf7 input[type="email"] {
	background-size: size(25);
	background-position: calc(100% - 3px) center;
  }
  div.wpcf7 input[type="tel"] {
	background-size: size(19);
  }
  div.wpcf7 input[type="submit"] {
	background-color: $orange-buttons;
	font-weight: 600;
	font-size: size(25);
	line-height: size(27);
	border: none;
	background-image: url("../iconsall/form-submit.png");
	background-position: size(22) center;
	background-size: 9px;
	padding: 2px 10% 2px calc(10% + 31px);
	transition: background-position .5s;
	&:hover {
	  background-color: $orange-buttons;
	  background-position: 5px center;
	  transition: background-position .5s;
	}
  }
}
.contact-form-block {
  background-color: #fbb713;
  padding: size(35) 10% 15px 10%;
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="email"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 select {
	background-color: #f6f6f6;
  }
  div.wpcf7 select {
	@include input-text;
  }
  div.wpcf7 input[type="text"] {
	background-size: size(19);
  }
}
.foo-input-wrap {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  input[type="email"] {
	padding-right: 8px !important;
  }
   input[type="submit"] {
	background-color: #f89422 !important;
	transition: background-color .5s;
	&:hover {
	  background-color: #000000 !important;
	  transition: background-color .5s;
	}
  }
}
.submit-wrap-form {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.mail-wrap-form {
  flex-grow: 1;
}
.acceptance-col {
  label {
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
  }
  input[type="checkbox"] {
	width: 14px;
	min-width: 14px;
	margin-left: 5px;
  }
  span {
	color: #000000;
	@include mid-text;
	text-align: right;
  }
}
