header {
  position: relative;
  padding: 8px 0;
  z-index: 12345;
  background-color: #ffffff;
  .hamburger {
	padding: 0;
	display: flex;
	margin-left: size(20);
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #ffffff;
	border: 1px solid #000000;
  }
}
.drop-menu {
  display: none;
  position: absolute;
  right: 0;
  justify-content: flex-start;
  align-items: flex-start;
  padding: size(40) 6% size(40) 5%;
  background-color: #ffffff;
  box-shadow: -2px 2px 20px -1px #010000;
  width: auto;
  z-index: 9999;
  top: 100%;
  overflow-y: auto;
  nav {
	width: 100%;
  }
  ul{
	li{
	  display: flex;
	  align-items: baseline;
	  a {
		@include base-text;
		margin-bottom: 0.5rem;
		transition: color .5s;
		&:hover {
		  color: $orange-main;
		  transition: color .5s;
		}
	  }
	}
  }
}
.header-btn {
  display: block;
  margin: 0 15px;
  position: relative;
  .count-circle {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 21px;
	height: 21px;
	border: 1px solid #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
	font-size: size(16);
	background-color: #fff;
	border-radius: 50%;
  }

  svg, img {
	min-width: 25px;
	height: auto;
	fill: #ffffff;
  }

  &:last-child {
	margin-left: 0;
  }
}
.search-trigger {
  margin: 0 15px;
  cursor: pointer;
  img {
	width: size(27);
  }
}
.header-mail {
  @include d-center;
  padding: 19px 9px 5px;
  margin-top: -10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .5s;
  margin-right: size(24);
  img {
	width: size(37);
  }
  &:hover {
	background-image: url("../iconsall/hover.png");
	transition: background-image .5s;
  }
}
.header-tel {
  display: flex;
  align-items: flex-end;
  img {
	width: size(27);
	margin-right: size(24);
  }
  &:hover {
	.tel-number {
	  color: $orange-main;
	  transition: color .5s;
	}
  }
}
.tel-number {
  color: #000000;
  font-family: $heebo;
  font-size: size(25);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(23);
  text-align: center;
  text-transform: uppercase;
  transition: color .5s;
}
.logo {
  @include d-center;
  img {
	max-height: size(60);
  }
}



//Footer
#go-top {
  position: absolute;
  right: 1rem;
  top: -7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8888;
  animation: jump-top 1.2s ease-in-out alternate infinite;
  img {
	width: size(160);
	z-index: 9;
  }
}
.to-top-text {
  font-family: $karantina;
  font-size: size(30);
  line-height: size(25);
  font-weight: 300;
  color: #000000;
  text-align: center;
}
//Footer
@mixin email-text {
  color: #292d2d;
  font-size: size(20);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
}
.foo-main-title {
  color: #000000;
  font-family: $karantina;
  font-size: size(204);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(190);
  text-align: center;
  margin-bottom: 35px;
}
.foo-form-block {
  position: relative;
  padding: size(85) 0 19rem 0;
  margin-bottom: -4rem;
  background-image: url("../img/footer-form-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  div.wpcf7 input[type="email"] {
	background-image: none;
	@include email-text;
  }
  .wpcf7-form {
	* {
	  direction: rtl !important;
	}
	::placeholder {
	  @include email-text;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  @include email-text;
	}
  }
}
.footer-main {
  position: relative;
  padding: size(100) 0;
  background-color: #faaa18;
}
.foo-menu {
  padding-top: 30px;
}
.foo-title {
  color: #000000;
  font-family: $karantina;
  font-size: size(30);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(32);
  margin-bottom: 10px;
}
.facebook-widget {
  overflow-x: hidden;
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 2rem;
}
footer {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	padding-right: 10px;
	&:before {
	  content: '>';
	  position: absolute;
	  top: 8px;
	  right: 0;
	  font-size: size(13);
	  line-height: size(15);
	  font-weight: 700;
	}
	a, span {
	  font-size: size(13);
	  line-height: size(15);
	  font-weight: 700;
	  color: #000000;
	  transition: color .5s;
	}
	a:hover {
	  color: #000000;
	  cursor: pointer;
	  transition: color .5s;
	}
  }
}

