// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 20;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}

@mixin input-text {
  color: #000000;
  font-size: size(17);
  line-height: size(32);
  font-weight: 500;
}
@mixin input-style {
  padding-right: size(35);
  height: size(40);
  background-size: size(23);
  background-repeat: no-repeat;
  background-position: calc(100% - 7px) center;
  background-color: #f6f6f6;
}
@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes jump {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-bottom: 1rem;
  }
}
@keyframes jump-top {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-top: -1rem;
  }
}
@mixin mid-text {
  font-size: size(20);
  line-height: size(25);
}
@mixin base-title {
  color: #000000;
  font-family: $karantina;
  font-size: size(66);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(72);
  text-transform: uppercase;
}
@mixin base-block-title {
  color: #000000;
  font-family: $karantina;
  font-size: size(50);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(52);
  text-transform: uppercase;
  text-align: center;
}
@mixin mid-title {
  font-size: size(25);
  line-height: size(32);
  font-weight: 600;
}
@mixin base-text {
  color: #000000;
  font-size: size(17);
  line-height: size(25);
  font-weight: 400;
}
@mixin back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
