.cat-col {
  padding: 5px;
}
.cat-item-img {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  @include back-img;
  &:after {
	display: block;
	content: '';
	padding-bottom: 100%;
  }
  .base-title {
	transition: color .5s;
  }
  .base-title:hover {
	color: $orange-main;
	transition: color .5s;
  }
}
.overlay-cat {
  @include overlay;
  height: 75%;
  background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.9;
}
.cat-item-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 17px;
  z-index: 3;
}
.cat-item-info-part {
  display: none;
  .base-text {
	color: #000000;
  }
}
.cat-link {
  position: relative;
  z-index: 3;
  @include d-center;
  align-self: flex-end;
  border-radius: 1px;
  border-bottom: 3px solid #000000;
  background-image: url("../iconsall/arrow-link.png");
  background-position: 3px center;
  background-repeat: no-repeat;
  padding: 0 0 2px 15px;
  background-size: 7px;
  color: #000000;
  font-family: $heebo;
  font-size: size(17);
  font-weight: 700;
  margin-left: 10px;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  text-align: center;
  text-transform: uppercase;
  transition: background-position .5s;
  &:hover {
	color: #000000;
	background-position: left center;
	transition: background-position .5s;
  }
}
.main-home-link {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  background-image: url("../iconsall/arrow-white-left.png");
  &:hover {
	color: #ffffff;
  }
}
.about-home-link {
  color: #f6921e;
  border-bottom: 3px solid #f6921e;
  background-image: url("../iconsall/arrow-dark-left.png");
  &:hover {
	color: #f6921e;
  }
}
//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-image .5s;
	&:hover {
	  transition: background-image .5s;
	}
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-lignt-left.png");
	&:hover {
	  background-image: url("../iconsall/arrow-dark-left.png");
	}
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-lignt-right.png");
	&:hover {
	  background-image: url("../iconsall/arrow-dark-right.png");
	}
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(16);
	height: size(26);
	z-index: 33;
	top: unset;
	bottom: -2rem;
  }
  [dir="rtl"] .slick-next {
	left: unset;
	right: 2rem;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
}
.base-slider-block {
  position: relative;
  padding: size(100) 0;
}
.fantastic-img {
  position: absolute;
  width: 50%;
  right: -16%;
  bottom: -1.3rem;
}
.experience-img {
  right: unset;
  left: -12%;
  bottom: 5px !important;
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/slider-back-fantastic.png");
  background-position: left top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 30px 15px;
}
.img-slider {
  width: 90%;
}
//Post card
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
}
.col-post {
  margin-bottom: 25px;
}
.post-card-content {
  padding-left: 10%;
  flex-grow: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  .block-text {
	text-align: right;
	margin-bottom: 5px;
  }
}
.post-img {
  display: flex;
  width: 100%;
  @include back-img;
  margin-bottom: 18px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 65.43%;
  }
}
.post-card-title {
  @include mid-title;
  color: #000000;
  margin-bottom: 10px;
  transition: color .5s;
  &:hover {
	color: $orange-main;
	transition: color .5s;
  }
}
.post-link {
  @include mid-text;
  font-weight: 500;
  font-family: $heebo;
  color: $orange-buttons;
  transition: font-weight .5s;
  &:hover {
	color: $orange-buttons;
	font-weight: 700;
	transition: font-weight .5s;
  }
}
//Product card
.product-small-card {
  position: relative;
  height: 100%;
  .woocommerce-loop-product__title {
	@include base-text;
	font-weight: 500;
	text-align: center;
	width: 100%;
	padding: 5px 15px;
	transition: background-color .5s;
	margin-bottom: 10px;
  }
  .bottom .woocommerce-loop-product__link {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
  }
  .top {
	position: relative;
  }
  .bottom {
	flex-grow: 1;
	display: flex;
  }
  .top .woocommerce-loop-product__link {
	@include d-center;
	height: 250px;
	overflow-x: hidden;
	img {
	  max-width: unset;
	  width: auto !important;
	  height: 100% !important;
	  max-height: 100%;
	}
  }
  &:hover {
	.top .woocommerce-loop-product__link {
	  .top-overlay {
		opacity: 1;
		transition: opacity .5s;
	  }
	}
	.bottom .woocommerce-loop-product__title {
	  border-radius: 0 0 5px 5px;
	  background-color: $orange-main;
	  transition: background-color .5s;
	}
  }
}
.top-overlay {
  @include d-center;
  @include overlay;
  opacity: 0;
  pointer-events: none;
  border: 3px solid $orange-main;
  background-color: rgba(247, 147, 29, 0.2);
  transition: opacity .5s;
}
span.onsale, span.new-item, .woocommerce span.onsale {
  @include d-center;
  @include base-block-title;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 5px;
  min-width: 26%;
  min-height: unset;
  padding: 5px 15px;
  color: #ffffff;
  z-index: 3;
}
span.new-item {
  background-color: #000000;
}
.woocommerce span.onsale {
  background-color: $orange-main;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: $heebo;
  line-height: 1;
  color: $orange-main !important;
  font-size: size(20) !important;
  font-weight: 700;
  del{
	display: flex;
	text-decoration: none;
	span{
	  line-height: 1;
	  color: #cccccc;
	  font-size: size(20) !important;
	  font-weight: 700;
	}
  }
  bdi {
	text-decoration: none;
  }
  ins {
	display: flex;
	text-decoration: none;
	margin: 0 10px;
	span{
	  line-height: 1;
	  color: $orange-main;
	  font-size: size(20) !important;
	  font-weight: 700;
	}
  }
}
.cart-animation-helper {
  margin: 0 20%;
  width: 0;
  height: 0;
  z-index: 999999999999999;
  position: absolute;
  &:after{
	opacity: 0;
	border-radius: 0;
	max-height: 19px;
	max-width: 19px;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	height: 19px;
	width: 19px;
	background-color: #ffffff;

	transition:
			transform 0.8s ease-out,
			margin 0.8s ease-out,
			opacity 0.8s ease-out,
			border-radius 0.4s ease-out,
			max-height 0.4s ease-out,
			max-width 0.4s ease-out;
  }
}
.woocommerce-message::before {
  color: $orange-buttons;
}
.woocommerce-message {
  border-top-color: $orange-buttons;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: $orange-main;
  color: #fff !important;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  margin: 0;
  border-top-color: $orange-buttons;
  &:before {
	color: $orange-buttons;
  }
}
.return-to-shop {
  margin-top: 2rem;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $orange-buttons;
}





//Reviews
.reviews-block {
  position: relative;
  background-color: #e5e6e1;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: size(77) 0;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	bottom: 2rem;
  }
  [dir="rtl"] .slick-prev {
	right: 2rem;
  }
  [dir="rtl"] .slick-next {
	right: 4rem;
  }
}
.reviews-block-over {
  position: absolute;
  top: 0;
  width: 95%;
  height: 100%;
  left: 0;
  background-image: url("../img/reviews-back.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin review-item {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  padding: size(100) 10%;
  border-radius: 0;
  z-index: 7;
}
@mixin review-after {
  content: '';
  display: block;
  @include overlay;
  right: -15px;
  bottom: -15px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
}
.container-revs {
  position: relative;
  z-index: 3;
}
.review-slide {
  padding: 15px;
}
.review-item {
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include review-item;
  &:after {
	@include review-after;
  }
}
.quote {
  position: absolute;
  z-index: 90;
  color: #ffffff;
  font-size: size(125);
  text-shadow: 2px 0 0 $orange-main, -2px 0 0 $orange-main, 0 2px 0 $orange-main, 0 -2px 0 $orange-main, 2px 2px $orange-main, -2px -2px 0 $orange-main, 2px -2px 0 $orange-main, -2px 2px 0 $orange-main;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24.95px;
  text-align: center;
  text-transform: uppercase;
}
.quote-top {
  top: 4rem;
  right: 1rem;
}
.quote-bottom {
  bottom: 0;
  left: 2rem;
}
.review-col {
  margin-bottom: 2rem;
}
.rev-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rev-pop-trigger {
  position: absolute;
  top: size(22);
  left: size(34);
  width: size(34);
  height: size(37);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url("../iconsall/plus.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 99;
}
.happy-text {
  color: $orange-main;
  font-family: $karantina;
  font-size: size(166);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 6rem;
  text-transform: uppercase;
  text-align: left;
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: size(0);
  }
}
#reviews-pop-wrapper {
  @include review-item;
  z-index: 2222;
  &:after {
	@include review-after;
  }
}
#reviewsModal {
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	right: 10px;
	background-color: transparent;
	.fa-times {
	  color: $orange-buttons;
	  font-size: 2rem;
	}
  }
}
.modal {
  z-index: 99999;
}
//About
.base-part-block {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.part-image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 50%;
  max-width: 50%;
  overflow-x: hidden;
  img {
	width: auto;
	max-width: unset;
	height: 100%;
  }
}
.part-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 50%;
  max-width: 50%;
}
.part-content-max-wrap, .part-img-max-wrap {
  flex: 0 0 100%;
  max-width: 100%;
}
.part-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: size(20) size(36) size(20) 25%;
}
.repeating-about {
  .base-part-block:nth-child(even) {
	flex-direction: row-reverse;
	.part-text-wrap {
	  padding: size(20) 25% size(20) 10%;
	}
  }
}
.about-benefit-icon-wrap {
  position: relative;
  width: size(100);
  @include d-center;
  padding-bottom: 15px;
  margin-bottom: 20px;
  &:after {
	position: absolute;
	bottom: 0;
	height: 3px;
	border-radius: 1px;
	display: block;
	content: '';
	width: 90%;
	background-color: #000000;
  }
}
.benefit-title {
  color: #f6921e;
  font-family: $heebo;
  @include mid-title;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
//Slider gallery product/opt
.big-slider-item, .thumb-item {
  display: flex;
  width: 100%;
  @include back-img;
  &:after {
	content: '';
	padding-bottom: 81%;
	display: block;
  }
}
.thumb-item {
  &:after {
	padding-bottom: 91%;
  }
}
//Product page accordion
.product-item-info{
  .card{
	border: none;
  }
  .card-header{
	padding: 0;
	background: #fff;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #e1e1e1;
  }
  h5{
	text-align: right;
	position: relative;
	button{
	  display: block;
	  text-align: right;
	  width: 100%;
	  @include base-text;
	  padding: 12px 0 12px 25px;
	  border: none;
	  transition: color .5s;
	  text-decoration: none !important;
	  &:hover{
		color: $orange-main;
		transition: color .5s;
	  }
	}
	&:after{
	  content: '+';
	  font-weight: 700;
	  font-size: 20px;
	  position: absolute;
	  left: 0;
	  top: 0;
	  color: #5a5a5a;
	  height: 100%;
	  display: flex;
	  align-items: center;
	}
  }
  .card{
	&.active{
	  h5{
		&:after{
		  content: '-';
		}
	  }
	}
  }
  .card-body {
	padding: 1rem 0 1rem 0;
  }
}
.accordion-title {
  color: $orange-main;
  font-family: $heebo;
  font-size: size(20);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(32);
  text-align: right;
  padding-bottom: 12px;
  border-bottom: 1px solid #e1e1e1;
}

.faq {
  padding: size(40) 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 13px;
  }
  .answer-body {
	padding: 20px size(35) 0 8%;
  }
}
.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: size(43);
  border-radius: 0;
  border: none;
  background-color: #fbb713;
  padding: 5px size(35);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 13px;
  background-image: url("../iconsall/faq.png");
  &.active-faq {
	background-image: url("../iconsall/faq-icon-white.png");
	background-color: #000000;
	transition: background-color, background-image .5s;
	.faq-body-title {
	  color: #ffffff;
	  transition: color .5s;
	}
  }
}
.faq-body-title {
  @include mid-text;
  color: #000000;
  font-weight: 500;
  text-align: right;
  transition: color .5s;
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}
.faq-arrow {
  position: absolute;
  left: 14px;
  width: 15px;
}
.arrow-top {
  &.hide {
	display: none;
  }
}
.arrow-bottom {
  display: none;
  &.show {
	display: block;
  }
}
