/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 2000px) {
  html{
    font-size: 22px;
  }
  .tel-number {
	font-size: size(30);
  }
}
@media (max-width: 1580px) {
  .top-main-overlay {
	.vertical-text {
	  display: none;
	}
  }
}
@media (max-width: 1400px) {
  .fantastic-img {
	right: 0;
	bottom: -0.5rem;
  }
  .experience-img {
	right: unset;
	left: 0;
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .post-card-content {
	padding-left: 0;
  }
  .vertical-text {
	display: none;
  }
  .part-text-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: size(20) 5% size(20) 10%;
  }
  .repeating-about {
	.base-part-block:nth-child(even) {
	  flex-direction: row-reverse;
	  .part-text-wrap {
		padding: size(20) 10% size(20) 5%;
	  }
	}
  }
  .opt-form-part{
	.reviews-block {
	  background-image: none !important;
	}
	.reviews-block-over {
	  width: 100%;
	  background-size: cover;
	  background-position: center;
	}
  }
  .top-main-overlay {
	width: 90%;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .price-total-wrap {
	margin-bottom: 1.5rem;
  }
  .top-main-overlay {
	width: 100%;
  }
  .hidden-title {
	display: block;
  }
  .product-body {
	.entry-summary {
	  .product_title {
		display: none !important;
	  }
	}
  }
  .header-tel {
	img {
	  margin-right: 5px;
	}
  }
  .header-mail {
	margin-right: 10px;
	img {
	  width: size(27);
	}
  }
  .tel-number {
	font-size: size(20);
	line-height: size(20);
  }
  .fantastic-img {
	display: none;
  }
  .product-small-card {
	.top .woocommerce-loop-product__link {
	  height: 200px;
	}
  }
  .reviews-block {
	background-image: none !important;
  }
  .part-image-wrap, .part-content-wrap {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .opt-page {
	.gallery-slider-wrap {
	  order: 2;
	  margin-top: 2rem;
	}
  }
  .related-card {
	.top .woocommerce-loop-product__link {
	  margin-bottom: 1rem;
	}
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .col-chunks:nth-child(even) {
	.row-cats-layout {
	  flex-direction: row;
	  .cat-col:first-child {
		flex: 0 0 50%;
		max-width: 50%;
		.cat-item-img {
		  &:after {
			padding-bottom: 200%;
		  }
		}
	  }
	  .cat-col:nth-child(3) {
		flex: 0 0 100%;
		max-width: 100%;
		.cat-item-img {
		  &:after {
			padding-bottom: 50%;
		  }
		}
	  }
	}
  }
  .tabs-line-order {
	order: -1;
	margin-bottom: 2rem;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .map-big {
	display: none;
  }
  .map-mob {
	display: flex;
  }
  header {
	.hamburger {
	  margin-left: 10px;
	}
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after, .hamburger-box {
	  width: 28px;
	}
  }
  .search-trigger {
	margin: 0 5px 0 0;
	img {
	  width: 20px;
	}
  }
  .tel-number {
	font-size: size(17);
	line-height: size(18);
  }
  .header-mail {
	margin-right: 5px;
  }
  .header-btn {
	margin: 0 5px;
	.count-circle {
	  font-size: 9px;
	  width: 12px;
	  height: 12px;
	}
	img {
	  min-width: 20px;
	  width: 20px;
	}
  }
  .post-card-content {
	padding-left: 5%;
  }
  .reviews-block-over {
	background-position: left center;
	width: 100%;
  }
  .archive-overlay-back {
	background-size: cover;
	background-position: center;
	width: 100%;
  }
  .top-archive {
	background-image: none !important;
  }
  .same-cat-prods {
	.product-small-card .top .woocommerce-loop-product__link {
	  height: auto;
	}
	.product-small-card .top .woocommerce-loop-product__link img {
	  width: 100% !important;
	  max-width: 100% !important;
	  height: auto !important;
	  max-height: unset !important;
	}
  }
  .hop-hey.two-columns {
	column-count: 2;
	column-gap: 2rem;
  }
  .foo-links-menu {
	order: 4;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  #go-top {
	left: 1rem;
	right: unset;
  }
  .tel-number {
	display: none;
  }
  .search-trigger img, .header-btn img {
	min-width: 15px;
	width: 15px;
  }
  .cat-col {
	padding: 15px;
  }
  .opt-form-title {
	font-size: size(50);
	line-height: size(54);
  }
  .product-small-card .top .woocommerce-loop-product__link {
	height: auto;
  }
  .product-small-card .top .woocommerce-loop-product__link img {
	width: 100% !important;
	max-width: 100% !important;
	height: auto !important;
	max-height: unset !important;
  }
  .home-slide-title {
	font-size: size(70);
	line-height: size(70);
  }
  .three-cats-block {
	.cat-col {
	  flex: 0 0 100% !important;
	  max-width: 100% !important;
	  .cat-item-img {
		&:after {
		  padding-bottom: 50% !important;
		}
	  }
	}
  }
  .buy-buttons, .qty-col-wrap {
	flex-wrap: wrap;
	justify-content: center;
  }
  .buy-now-custom, .woocommerce div.product form.cart .button.add-custom {
	width: 100%;
	margin: 5px 0 !important;
  }
  .price-total-wrap {
	margin-top: 1rem;
  }
}







/*
::::: Custom media queries :::::
*/
@media (max-width: 450px) {
  .p-col-0 {
	padding: 0 3px;
  }
  .post-card-content {
	padding-left: 0;
  }
  .reviews-block [dir=rtl] .slick-prev, .reviews-block [dir=rtl] .slick-next {
	bottom: 3rem;
  }
  .happy-text {
	font-size: 5.2rem;
	line-height: 3.8rem;
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .foo-input-wrap {
	flex-wrap: wrap;
  }
  .submit-wrap-form {
	flex: 0 0 100%;
	width: unset;
	max-width: 100%;
  }
  .faq-arrow {
	left: 8px;
  }
  .faq-body-title {
	font-size: size(18);
	line-height: size(20);
  }
  .three-cats-block {
	.cat-col {
	  .cat-item-img {
		&:after {
		  padding-bottom: 100% !important;
		}
	  }
	}
  }
  .why-us-block {
	.nav-tabs {
	  justify-content: center;
	}
  }
}
@media (max-width: 400px) {
  .contact-icon-wrap {
	margin-left: 0;
  }
  .contact-item {
	flex-direction: column;
	align-items: center;
  }
  .contact-info {
	align-items: center;
  }
  .contact-title, .contact-type {
	text-align: center;
  }
}
