$almoni-tzar: almoni-tzar, sans-serif;
$almoni: almoni, sans-serif;
$assistant: 'Assistant', sans-serif;
$karantina: 'Karantina', sans-serif;
$arimo: 'Arimo', sans-serif;
$heebo: 'heebo', sans-serif;

$font-family: $arimo;
$font-baze: 20px;
