@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "forms";
@import "partials";



body{
  font-family: 'Arimo', sans-serif;
  text-align: right;
  color: #000000;
}
.wow {
  visibility: hidden;
}
.base-title {
  @include base-title;
}
.block-text {
  @include mid-text;
  font-weight: 500;
  text-align: center;
  margin-bottom: 17px;
}

.base-block-title {
  @include base-block-title;
}
.base-text {
  @include base-text;
}
.base-text-500 {
  @include base-text;
  font-weight: 500;
}
.base-output, .woocommerce-product-details__short-description {
  h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin-bottom: size(20);
  }
  h1, h2 {
	font-size: size(25);
	line-height: size(30);
  }
  h3 {
	font-size: size(22);
	line-height: size(24);
  }
  h4 {
	font-size: size(20);
	line-height: size(22);
  }
  h5 {
	font-size: size(19);
	line-height: size(21);
  }
  h6 {
	font-size: size(18);
	line-height: size(20);
  }
  p, li {
	@include base-text;
  }
  p {
	margin-bottom: size(26);
  }
  li {
	list-style: disc;
  }
  li::marker {
	color: $orange-main;
  }
  ul {
	margin-right: 1rem;
  }
}
.slider-output {
  h1, h2, h3, h4, h5, h6 {
	font-family: $karantina;
	font-weight: 300;
	color: #000000;
	margin-bottom: 10px;
  }
  h1 {
	font-size: size(50);
	line-height: size(52);
  }
  h2 {
	font-size: size(40);
	line-height: size(52);
	margin-bottom: 15px;
  }
  h3 {
	font-size: size(36);
	line-height: size(44);
  }
  h4 {
	font-size: size(30);
	line-height: size(32);
  }
  h5 {
	font-size: size(25);
	line-height: size(28);
  }
  h6 {
	font-size: size(22);
	line-height: size(28);
  }
  p, li {
	font-weight: 500;
  }
  p {
	margin-bottom: size(36);
  }
}
.about-output {
  p, li {
	font-family: $heebo;
	font-size: size(20);
	font-weight: 400;
	line-height: size(25);
  }
}
.main-output {
  h1, h2, h3, h4, h5, h6 {
	font-family: $heebo;
	font-weight: 500;
  }
  p, li {
	margin-bottom: 15px;
  }
}
.home-white-text {
  font-family: $heebo;
  font-size: size(20);
  font-weight: 400;
  line-height: size(25);
  color: #ffffff;
}
.block-title {
  @include base-title;
  text-align: center;
  border-bottom: 1px solid $orange-main;
  margin-bottom: size(20);
}
.foo-form-title {
  @include base-title;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}
.block-link {
  @include d-center;
  @include mid-text;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  background-size: 7px;
  padding-left: 20px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("../iconsall/arrow-link.png");
  transition: color, background-image .5s;
  &:hover {
	background-image: url("../iconsall/arrow-dark-left.png");
	color: $orange-main;
	transition: color, background-image .5s;
  }
}
.more-link {
  @include d-center;
  min-width: 112px;
  height: 40px;
  color: #ffffff;
  @include mid-text;
  font-weight: 700;
  text-align: center;
  background-color: $orange-buttons;
  border: 2px solid $orange-buttons;
  transition: color, background-color .5s;
  cursor: pointer;
  &:hover {
	color: $orange-buttons;
	background-color: #ffffff;
	transition: color, background-color .5s;
  }
  &.hide {
	display: none;
  }
}
//Post
.video-back-violet {
  margin: 10px 0;
}
.video-item {
  position: relative;
  @include d-center;
  width: 100%;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 47%;
  }
}
.put-video-here {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 19;
  iframe {
	width: 100%;
	height: 100%;
  }
  &.show {
	display: block;
  }
}
.play-button-post {
  @include overlay;
  @include d-center;
  cursor: pointer;
  img {
	width: 10%;
  }
}
.page-body {
  padding: size(70) 0;
}
.trigger-wrap {
  position: relative;
}
.all-socials {
  position: absolute;
  display: flex;
  top: 101%;
  left: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity .5s;
  &.show-share {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.social-item {
  @include d-center;
  width: size(28);
  height: size(28);
  border-radius: 50%;
  background-color: $orange-buttons;
  margin-bottom: 3px;
  transition: background-color .5s;
  .fa, .fab, .fal, .far, .fas {
	color: #000000;
	font-size: size(18);
  }
}
.social-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
  .social-item {
	background-color: transparent;
  }
}
.social-item-text {
  @include base-text;
  font-weight: 700;
  margin-left: 10px;
}

//Products slider on homepage
.product-slider-block {
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  .slide-item {
	height: 100%;
  }
}
//Products page
.shop-main-title {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  border-radius: 1px;
  margin-bottom: size(35);
}
.top-archive {
  position: relative;
  background-color: #e5e6e1;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-top: size(55);
  padding-bottom: 4.5rem;
}
.cont-prods-top {
  margin-top: -4rem;
}
.archive-overlay-back, .top-main-overlay {
  display: flex;
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  right: 0;
  background-image: url("../img/top-shop.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-main {
  background-size: contain;
  min-height: 500px;
}
.top-main-overlay {
  width: 80%;
  background-image: url("../img/home-main-overlay.png");
}
.woocommerce .woocommerce-result-count {
  display: none;
}
.woocommerce .woocommerce-ordering select {
  -webkit-appearance: none;
  height: 30px;
  border: 1px solid #050505;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  padding: 3px 15px 3px 30px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 9px;
  background-image: url("../iconsall/arrow-bottom.png");
}
.woocommerce .woocommerce-ordering {
  margin: 0 0 15px 0;
  border-bottom: 2px solid #ffffff;
  border-radius: 1px;
  padding-bottom: 10px;
}
.vertical-text {
  color: #ffffff;
  font-family: $karantina;
  font-size: 11rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  writing-mode: tb-rl;
  transform: rotate(180deg);
}
//Homepage slider
.main-block-home {
  .slick-dotted.slick-slider {
	margin-bottom: 0;
  }
  .slick-dots {
	top: calc(100% - 30px);
	display: flex;
	justify-content: flex-end;
	width: 90%;
	left: 10%;
	right: unset;
  }
  ul.slick-dots {
	li {
	  margin: 0 6px;
	  button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 19px;
		border-radius: 0;
		border: 1px solid #000000;
		background-color: #000000;
		opacity: 1 !important;
		&:before {
		  top: unset;
		  left: unset;
		  color: #ffffff;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: $orange-buttons;
  }
}
//Contact
.contact-page-body {
  margin: 0;
  padding: 0;
}
.contact-page-back {
  padding: size(70) 0 size(60) 0;
  background-image: url("../img/contact-back.png");
  @include back-img;
}
.contact-title {
  color: #f6921e;
  @include mid-title;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.contact-type {
  color: #000000;
  @include mid-text;
  font-weight: 400;
  text-transform: uppercase;
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-icon-wrap {
  @include d-center;
  width: size(100);
  min-width: size(100);
  margin-left: 18px;
}
.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}
.contact-form-title, .woocommerce div.product .product_title {
  @include mid-title;
  color: #000000;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.woocommerce div.product .product_title {
  text-align: right;
}
.map-mob {
  display: none;
  height: 325px;
  width: 100%;
  @include back-img;
}
//Opt-partners
.benefit-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: size(60);
}
.opt-form-title {
  @include base-title;
  color: #f6f6f6;
  font-weight: 400;
}
.gallery-slider-wrap {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(42);
	height: size(42);
	background-position: center;
	background-repeat: no-repeat;
	background-size: size(16);
	background-color: #fbb713;
	top: -1.6rem;
	transition: background-color .5s;
	&:hover {
	  background-color: #000000;
	  transition: background-color .5s;
	}
  }
  [dir="rtl"] .slick-next {
	left: 10px;
	background-image: url("../iconsall/arrow-white-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-white-right.png");
	right: 10px;
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
//Product
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
  float: unset;
  width: 100%;
}
.params-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.params-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  img {
	max-width: size(20);
	margin-left: 10px;
  }
}
.param-title {
  color: $orange-main;
  @include mid-text;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
}
.product-share-line {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
//Related product
.related-card {
  border: 2px solid $orange-buttons;
  width: 100%;
  background-image: url("../img/related-back.png");
  @include back-img;
  padding: size(45) size(70);
}
.related-card {
  span.onsale {
	display: none;
  }
}
.related-card .top .woocommerce-loop-product__link {
  border: 2px solid $orange-buttons;
  img {
	max-width: 100%;
	width: 100% !important;
	height: auto !important;
	max-height: unset;
  }
}
.related-card {
  .top .woocommerce-loop-product__link {
	height: auto !important;
  }
  .price, .price del span, .price ins span {
	color: #050505 !important;
	font-family: $arimo;
	font-size: size(30) !important;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(30) !important;
  }
  .bottom .woocommerce-loop-product__link {
	align-items: flex-start;
	justify-content: flex-start;
  }
  .bottom {
	flex-direction: column;
	justify-content: space-between;
  }
  a.add_to_cart_button {
	border-radius: 0 !important;
	padding: 15px 30px !important;
	color: #050505 !important;
	font-size: size(20) !important;
	margin-top: 2rem;
  }
  &:hover .woocommerce-loop-product__title {
	background-color: transparent !important;
	color: #000000;
  }
}
.related-card .woocommerce-loop-product__title {
  color: $orange-main;
  font-family: $heebo;
  @include mid-title;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  padding: 0;
}
.woocommerce a.added_to_cart {
  color: $orange-main;
}
.hidden-title {
  display: none;
}
//Homepage slider
.home-slide-title {
  color: #ffffff;
  font-family: $karantina;
  font-size: size(97);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(70);
  text-transform: uppercase;
}
.main-slider {
  .top-archive {
	display: flex !important;
	align-items: center;
  }
}
//Homepage categories
.three-cats-block {
  margin: size(50) 0;
  .cat-col {
	flex: 0 0 50%;
	max-width: 50%;
	.cat-item-img {
	  &:after {
		padding-bottom: 200%;
	  }
	}
	&:nth-child(3) {
	  flex: 0 0 100%;
	  max-width: 100%;
	  .cat-item-img {
		&:after {
		  padding-bottom: 50%;
		}
	  }
	}
  }
}
.col-chunks:nth-child(even) {
  .row-cats-layout {
	flex-direction: row-reverse;
	.cat-col:first-child {
	  flex: 0 0 100%;
	  max-width: 100%;
	  .cat-item-img {
		&:after {
		  padding-bottom: 50%;
		}
	  }
	}
	.cat-col:nth-child(3) {
	  flex: 0 0 50%;
	  max-width: 50%;
	  .cat-item-img {
		&:after {
		  padding-bottom: 200%;
		}
	  }
	}
  }
}
//Why us homepage
.why-us-block {
  margin: 25px 0;
  .tab-content {
	height: 100%;
	background-image: url("../img/home-about-back.png");
	@include d-center;
	@include back-img;
	padding: 10px;
  }
  .tab-pane {
	width: 100%;
	height: 100%;
	padding: 25px;
	background-color: rgba(255, 255, 255, 0.89);
  }
  .nav-tabs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	border: none;
  }
  .nav-tabs .nav-link {
	border: none !important;
	border-radius: 0 !important;
  }
  .benefit-col {
	margin-bottom: 0;
	justify-content: center;
	align-items: stretch;
  }
  .about-benefit-icon-wrap {
	width: unset;
	height: size(100);
	img {
	  max-height: 100%;
	}
	&:after {
	  width: 75%;
	  background-color: $orange-buttons;
	  transition: background-color .5s;
	}
  }
  .benefit-title {
	color: #000000;
	transition: color .5s;
  }
  .nav-tabs .nav-link.active {
	.benefit-title {
	  color: $orange-buttons;
	  transition: color .5s;
	}
	.about-benefit-icon-wrap {
	  background-image: url("../iconsall/benefit-back.png");
	  background-size: contain;
	  background-position: top center;
	  background-repeat: no-repeat;
	  width: unset;
	  height: size(100);
	  &:after {
		background-color: #000000;
		transition: background-color .5s;
	  }
	}
  }
}
.inside-tab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
//Custom add to cart
.add-cart-line {
  border: 4px solid $orange-buttons;
  background-image: url("../img/prod-form.png");
  @include back-img;
  padding: 30px 0 0 0;
}
.qty-wrap {
  height: 40px;
  background-color: #ffffff;
  border: 1px solid $orange-main;
  overflow: hidden;
  display: flex;
  input{
	-webkit-appearance: none;
	width: 50px;
	height: 40px;
	text-align: center;
	background-color: #ffffff;
	color: $orange-main;
  }
  input, .plus, .minus{
	flex: auto;
	cursor: pointer;
  }
  .plus, .minus{
	font-size: size(25);
	font-weight: 400;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $orange-main;
	color: #ffffff;
	transition: all .5s;
	cursor: pointer;
	&:hover{
	  background-color: $orange-main;
	  color: #ffffff;
	}
  }
}
.check-col .woocommerce-input-wrapper {
  flex-grow: 1;
}
.buy-buttons, .qty-col-wrap {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.buy-now-custom, .woocommerce div.product form.cart .button.add-custom {
  width: 49%;
  height: 40px !important;
  font-size: size(20) !important;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: size(30) !important;
  padding: 3px 10px !important;
}
.woocommerce div.product form.cart .button.add-custom {
  color: #000000 !important;
  border-radius: 0 !important;
  transition: background-color, color .5s;
  &:hover {
	background-color: #000000 !important;
	color: #ffffff !important;
	transition: background-color, color .5s;
  }
}
.buy-now-custom {
  @include d-center;
  background-color: #050505;
  color: #ffffff;
  transition: color, background-color .5s;
  &:hover {
	background-color: $orange-buttons;
	color: #000000;
	transition: color, background-color .5s;
  }
}
.price-total-wrap {
  display: flex;
  align-items: center;
  border-bottom: 3px solid $orange-main;
  flex-grow: 1;
  margin: 0 20px;
  justify-content: center;
  min-height: 40px;
}
.final-price-title, .price-total-wrap span  {
  margin: 0 5px;
  color: #050505;
  font-size: size(30);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  @include d-center;
  flex-direction: row-reverse;
}
.price-total-wrap span {
  margin-left: 20px;
}
.price-final-sale {
  color: #acacac;
  text-decoration: line-through;
}


@import "responsive";
